@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&text=┌─┬┐└┴┘│├┼┤╭╮╰╯┏━┳┓┗┛┃┡╇┩&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap");

.md-header__topic:first-child {
  font-family: "Playpen Sans";
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--quackosm-text-color);
}
